<launch>
  <param name="/dimension" type="int" value="3" />
  <param name="/relaxation_rank" type="int" value="5" />
  <param name="/optimization_rate" type="double" value="1.0" />
  <param name="/pose_update_topic" type="str" value="/pose_update" />


  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
	  <arg name="agent_id" value="1" />
  </include>

  <!-- <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
	  <arg name="agent_id" value="2" />
  </include> -->



</launch>