<launch>
  <arg name="stepsize"/>

  <param name="/dimension" type="int" value="3" />
  <param name="/relaxation_rank" type="int" value="5" />

  <param name="/anchor_topic" type="str" value="/anchor_update" />
  <param name="/solution_topic" type="str" value="/solution" />
  <param name="/pose_update_topic" type="str" value="/pose_update" />
  <param name="/pose_update_publish_rate" type="double" value="10" />

  <param name="/optimization_rate" type="double" value="0.5" />
  <!-- Default solver is RTR. Uncomment below to use RGD with a constant stepsize -->
  <!-- <param name="/rgd_stepsize" type="double" value="$(arg stepsize)" /> -->
  
  <param name="/num_robots" type="int" value="5" />

  <arg name="dataset"/>
  <param name="/dataset" type="str" value="$(find dpgo_ros)/data/$(arg dataset)/$(arg dataset).g2o" />
  <param name="/Yopt" type="str" value="$(find dpgo_ros)/data/$(arg dataset)/Yopt.txt" />
  <param name="/Yinit" type="str" value="$(find dpgo_ros)/data/$(arg dataset)/Yinit.txt" />

  <!-- Launch visualization in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find dpgo_ros)/rviz/default.rviz">
  </node>


  <!-- Launch indivial PGO agents. Number must match /num_robots -->
  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
	  <arg name="agent_id" value="0" />
  </include>


  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
    <arg name="agent_id" value="1" />
  </include>


  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
    <arg name="agent_id" value="2" />
  </include>


  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
    <arg name="agent_id" value="3" />
  </include>


  <include file="$(find dpgo_ros)/launch/PGOAgent.launch">
    <arg name="agent_id" value="4" />
  </include>


  <!-- Launch PGO Monitor -->
  <node name="dpgo_monitor" pkg="dpgo_ros" type="dpgo_ros_monitor_node" output="screen">
  </node>


</launch>