<launch>
  
  <!-- args that needs to be passed in from higher-level launch files -->
  <arg name="agent_id" default="0"/> 

  <!-- GDB: launch-prefix="gnome-terminal -x gdb -ex run \-\-args" -->
  <node ns="dpgo_ros_node" name="agent" pkg="dpgo_ros" type="dpgo_ros_node" output="screen">
    <param name="~agent_id" type="int" value="$(arg agent_id)" />
  </node>


</launch>